################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/KPMG_RAKING/RankingAPIWeb/bin/Debug/net5.0
/KPMG_RAKING/.vs/KPMG_RAKING
/KPMG_RAKING/RankingAPIWeb/obj/Debug/net5.0
/KPMG_RAKING/RankingAPIWeb/obj
/KPMG_RAKING/SiteRankingKPMG/bin/Debug/net5.0
/KPMG_RAKING/SiteRankingKPMG/obj
