@{
    ViewData["Title"] = "Ranking";
    List<RankingAPIWeb.Model.GameResult> ranking = ViewBag.Ranking;
    DateTime lastUpdate = ViewBag.LastUpdate;

}
<div class="container col-12 justify-content-center">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id do Jogador</th>
                <th scope="col">Pontuação total</th>
            </tr>
        </thead>


        @{
        foreach (var position in ranking)
        {
            <tr>
                <td>
                    @position.PlayerId
                </td>
                <td>
                    @position.GameScore
                </td>
            </tr>
        }
        }
        <tbody>
        </tbody>
    </table>
    
</div>

<p>Última atualização: @lastUpdate </p>
